html, body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

canvas {

  display: block;
  border: solid 2px rgb(150, 150, 150);
  border-radius: 2%;
}

#canvas-container {
  margin: 2% auto 2% auto;
}

#controls {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#controls button {
  background-color: #2f80ed;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  height: 40px;
  font-size: 1em;
  overflow: hidden;
  margin: auto 1%;
  padding: 5px 20px;
  text-align: center;
  transition: all .3s;
}

#controls button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
}

#controls button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {

  #controls {
    flex-direction: column;
  }

  #controls button {
    margin-top: 2%;
    padding: 5px;
  }

}